<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
    <form action="/post_user" method="post">
         <h2>Update Information</h2>
         <dl>

             <dt><strong>First Name:</strong><br>
         <input type = "text" id ="firstname" name = "firstname"  /></br>

              <dt><strong>Middle Name:</strong><br>
         <input type = "text" id = "middlename" name = "middlename"  /></br>

             <dt><strong>Last Name:</strong><br>
         <input type = "text" id = "lastname" name = "lastname"  /></br>

             <dt><strong>Username:</strong><br>
         <input type = "text" id = "username" name = "username"  /></br>

             <dt><strong>Password:</strong><br>
         <input type = "text" id = "password" name = "password"  /></br>

             <dt><strong>Address:</strong><br>
         <input type = "text" id = "address" name = "address"  /></br>

             <dt><strong>Contact No.:</strong><br>
         <input type = "text" id = "contactno" name = "contactno"  /></br>
         </dl>
        <br/>

      <input type ="submit"  value ="Submit" />
      </form>
    <br/>
    <br/>

    <a href="/view">Click to view</a>


</body>
</html>