<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
 <form method="POST" action="{{ url_for('update_row', id=id) }}">
    <h2>Update Information</h2>
    <dl>
              <dt><strong>First Name:</strong><br>
         <input type = "text"  name = "firstname"   /></br>

              <dt><strong>Middle Name:</strong><br>
         <input type = "text"  name = "middlename"   /></br>

             <dt><strong>Last Name:</strong><br>
         <input type = "text"  name = "lastname" /></br>

             <dt><strong>Username:</strong><br>
         <input type = "text"  name = "username"/></br>

             <dt><strong>Password:</strong><br>
         <input type = "text"  name = "password"   /></br>

             <dt><strong>Address:</strong><br>
         <input type = "text"  name = "address"  /></br>

             <dt><strong>Contact No.:</strong><br>
         <input type = "integer"  name = "contactno"  /></br>
    </dl>
        <br/>
    <a href = "{{ url_for('update_row') }}" methods="post">
              <input type = "submit" value = "submit" /></a>
      </form></center>
</form>
</body>
</html>