<!DOCTYPE html>
<html>


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Naawan Receipt System</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">

<!-- 
    <link rel="stylesheet" href="static/demo.css">
    <link rel="stylesheet" href="static/header-second-bar.css">


    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
 -->
</head>

<!-- <body> -->


<!-- <header class="header-two-bars">

    <div class="header-first-bar">

        <div class="header-limiter">

            <h1><a href="#">Municipality<span>Receipt</span></a></h1>

            <nav>
                <a href="/form" class="selected">FORM</a>
                <a href="/logs">LOGS</a>
                <a href="/query">QUERY</a>
                <a href="/user">USER</a>
            </nav>

            <a href="#" class="logout-button">Logout</a>
        </div>

    </div>

    <div class="header-second-bar">

        <div class="header-limiter">
            <h2><a href="#">Survey name</a></h2>

            <nav>
                <a href="/addparameters"><i class="fa fa-comments-o"></i> Parameters</a>
                <a href="#"><i class="fa fa-file-text"></i> Results</a>
                <a href="#"><i class="fa fa-group"></i> Participants</a>
                <a href="#"><i class="fa fa-cogs"></i> Settings</a>
            </nav>

        </div>

    </div>

</header> -->

<!-- The content of your page would go here. -->







<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><img src="http://jskrishna.com/work/merkury/images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Administrator</span></a></li>
                        <li><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Add Parameters</span></a></li>
                        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Statistics</span></a></li>
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Calender</span></a></li>
                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Setting</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
        
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">-->                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="http://jskrishna.com/work/merkury/images/user-pic.jpg" alt="user">
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>JS Krishna</span>
                                                    <p class="text-muted small">
                                                        me@jskrishna.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">View Profile</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="user-dashboard">
                    <h1>Hello, Admin</h1>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 gutter">

   


    <!-- Modal -->


            <!-- Modal content-->

                <div class="modal-body">
                        
        <form action="{{ url_for('addparameter') }}" class="register" method="POST">




            <h1>Add Parameters</h1>
      

            <fieldset class="row2">
                <legend>Nature of Collection
                </legend>
                <p>

                   <div>
                   Nature of Collection: <br>
                   <input type = "text" name = "param1"><br>
                   </div>
                   <br>


                    <div>
                    Over: <br>
                   <input type = "text" name = "param2"><br>
                   </div>
                    <br>
                    <div>
                    Not Over: <br>
                   <input type = "text" name = "param3"><br>
                   </div>

                <p>

                    <div>
                     Officer-in-charge: <br>
                    <input type = "text" name = "officer"><br>
                     </div>

                    <div>
                    <button class="button">Submit &raquo;</button>
                    </div>

            </fieldset>


        
         


    <fieldset class="row3">

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
    <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>

  <tr>
    <th>Nature of Collection</th>
      <th>Over</th>
      <th>Not Over</th>
      <th>Added by Officer</th>
   

</tr>
    </thead>
    <tbody>
         {% for row in rows %}

            <tr>
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
               <td> {{row[2]}}</td>
               <td>{{row[3]}}</td>
      

            </tr>

         {% endfor %}
 </tbody>
    </table>
    </div>
</div>
            </fieldset>



        </form>


    </body>

</html>

                    </div>
       <!--         <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Save</button>
                </div>-->
            </div>

        </div>
    </div>

</body>